root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,json5,yaml,yml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.cs]
dotnet_sort_system_directives_first = false
dotnet_style_namespace_match_folder = true
file_header_template = unset

[*.csproj]
indent_size = 2
